.background-top{
    background-color: #6495ed;
    background-image: url(../img/pattern.png);
    height: 170px;
    
}
.logo{
    margin-top: 70px;
}

h1{
    font-size: 50px;
}

.autore{
    color: cornflowerblue;
}

.data-scrittura{
    color: grey;
}

.descrizione-foto{
    font-size: 12px;
}