body{
    font-family: "Open Sans", sans-serif;
}

.background-top{
    background-color: #6495ed;
    background-image: url(../img/pattern.png);
    height: 170px;
    
}
.logo{
    margin-top: 70px;
}

h1{
    font-size: 50px;
}

.author{
    color: cornflowerblue;
}

.data-writing{
    color: grey;
}

.description-foto{
    font-size: 12px;
}

.highlight{
    background-color: yellow;
}

th{
    background-color: #19c9ff;
    color: white;
}

.table{
    border: no border;
    border-collapse: collapse;
    width: 100%;
}

.background-tr{
    background-color: #12bdf1;
}


.cell-size{
    width: 25%;
}

.final-img1{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 300px;
    height: 200px;
}

.final-img2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 300px;
    height: 200px;
}

.final-title{
    color: white;
    font-size: 20px;
}